<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<main>
	
	

	{{!-- Log in page --}}

			<div>
<div class="container">
<label for="username"><b>UserName</b></label>
<input type="text" placeholder="ENTER USERNAME" name="username">

<label for="password"><b>password</b></label>
<input type="text" name="password" placeholder="ENTER PASSWORD">


</div>
<button type="submit">Sign UP</button><button type="submit">Login</button>
			</div>

{{!-- {{/each}} --}}
</main>
