
<h1>Best Chef </h1>
<p>Welcome to Best Chef</p>
</div>
		

	
  


<label for="username"><b>User Name</b></label>
<input  type="text" placeholder="ENTER USERNAME" name="username">

<label for="password"><b>password</b></label>
<input  type="text" name="password" placeholder="ENTER PASSWORD"><hr>




<form action="/users/new"><input class="waves-effect waves-light btn" type="submit" value="Sign-In"></form>
<form action="/users"><input class="waves-effect waves-light btn" type="submit" value="Sign-Up"><br></form>
<form action="/recipes"> <input class="waves-effect waves-dark btn" type="submit"   value="Continue as Guest"></form>

