
<h1>Best Chef </h1>
<p>Welcome to Best Chef</p>
</div>
		

	
  


<label for="username"><b>User Name</b></label>
<input  type="text" placeholder="ENTER USERNAME" name="username">

<label for="password"><b>password</b></label>
<input  type="text" name="password" placeholder="ENTER PASSWORD"><hr>




<input class="waves-effect waves-light btn" type="submit" value="Sign-In">
<input class="waves-effect waves-light btn" type="submit" value="Sign-Up">
<input class="waves-effect waves-red btn" type="submit"  href="recipes/new" value="Continue as Guest">

