<h1>Best Chef </h1>
<p>Welcome to Best Chef</p>

<main>
	{{!-- Log in page --}}

			
<div class="container">
<label for="username"><b>User Name</b></label>
<input type="text" placeholder="ENTER USERNAME" name="username">

<label for="password"><b>password</b></label>
<input type="text" name="password" placeholder="ENTER PASSWORD"><hr>


</div>
<div>
<input type="submit"type="submit">Sign UP</button>
<input type="submit">Login</button>
			</div>


</main>

