<h1>User Info</h1>

<h1>Users</h1>
{{#each registeredusers}}
<div>
    <h1>Name: {{this.name}}</h1> 
    <h1>Email: {{this.email}}</h1>
    <h2>Id:{{this._id}}</h2>

</div> 
<div><button type="button" name="edit" link="users/edit" class="btn btn-danger btn-xlg btn-block">Edit</button></div>
 {{/each}}  

