<h1>User Info</h1>

<h1>Users</h1>
{{#each registeredusers}}
<div>
    <h1>Name: {{this.name}}</h1> 
    <h1>Email: {{this.email}}</h1>
    <h2>Id:{{this._id}}</h2>

</div> 
<button type="button"  name="delete" link="users/delete" class="btn-danger btn-xlg btn-block">Delete</button>
<button type="button" name="update" link="users/update" class="btn btn-danger btn-xlg btn-block">Update</button>
<button type="button" name="edit" link="users/edit" class="btn btn-danger btn-xlg btn-block">Edit</button>
 {{/each}}  

