<header>Create a new Recipe</header>


<form action="/recipes" method="POST">
    
    <label for="name">Name</label>
    <input type="text" name="name">

<label for="description">description</label>
<input type="text" name="description">

<label for="directions">directions</label>
<input type="text" name="directions">

<label for="time">Time</label>
<input type="number" name="time">

<label for="ingredients">ingredients</label>
<input type="text" name="ingredients" >
    
    <input type="submit"  value="Create"/>
</form>


 